.register-wrapper {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160deg, #6a0572, #3b0a45, #4b0082, #1f1c2c);
    background-size: cover;
}


.login-wrapper {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160deg, #6a0572, #3b0a45, #4b0082, #1f1c2c);
    background-size: cover;
}

/* container principal */
.container-formulario {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 30px;
    width: 350px;
    color: white;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* checkBox */
.form-check-input:hover {
    cursor: pointer;
}

/* avatar */
.formulario-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.formulario-avatar::after {
    content: "";
    background: url('https://cdn-icons-png.flaticon.com/512/149/149071.png') no-repeat center;
    background-size: 50%;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.7;
}

/* inputs com ícones */
.input-icon {
    position: relative;
}

.input-icon .material-symbols-outlined {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 22px;
    color: #bbb;
}

/* deixa espaço pros ícones dentro do input */
.input-icon input {
    padding-left: 40px !important;
    background: transparent;
    border: none;
    border-bottom: 1px solid #aaa;
    color: white;
}

.input-icon input::placeholder {
    color: #ddd;
}

/* links */
.forgot-link {
    font-size: 0.9em;
    color: #bbb;
    text-decoration: none;
}

.forgot-link:hover {
    color: white;
    text-decoration: underline;
}

/* botão */
.formulario-btn {
    background: linear-gradient(90deg, #6a0572, #4b0082);
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.formulario-btn:hover {
    background: linear-gradient(90deg, #4b0082, #6a0572);
    transform: scale(1.05);
}